<section class="team-cards">
    <div class="outrcontainer">
        <div class = "card">
            <div class ="container">
                <img class = "photo"src="assets/photos/BlankPerson_resized.png" height=150 width=150/>
                <h4>Name</h4>
                <p>Position Here</p>
                <a class="link1" href="#">
                    <img class = "img" src="assets/photos/github_logo_resized.png" height=30 width =30 />
                    <div class="text">github.com</div>
                </a>
                <a class="link2" href="#">
                    <img class = "img" src="assets/photos/linkedin_logo.png" height=30 width =30 />
                    <div class="text">linkedin.com</div>
                </a>
            </div>
        </div>
    </div>
</section>