
        <div class="chart-container">
            <canvas id="linechart"></canvas>
        </div>        
        
        <div class="container"> 
            <mat-form-field appearance="outline">
                <mat-label>Slider Tick Options</mat-label>
                <mat-select [(value)]="selected" (selectionChange)="sliderConfigure($event)">
                  <mat-option value="1">100 Ticks</mat-option>
                  <mat-option value="2">200 Ticks</mat-option>
                  <mat-option value="3">300 Ticks</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Scale Type</mat-label>
                <mat-select [(value)]="yaxisType" (selectionChange)="yaxisConfigure($event)">
                  <mat-option value="1">Linear</mat-option>
                  <mat-option value="2">Logarithmic</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Scale Type</mat-label>
                <mat-select [(value)]="selected" (selectionChange)="sliderConfigure($event)">
                  <mat-option value="1">Linear</mat-option>
                  <mat-option value="2">Logarithmic</mat-option>
                </mat-select>
              </mat-form-field>

        </div>
        <div>
          <hr> 
          
            <div>
              <div>
                <mat-slider #chartSlider
                [displayWith]="formatLabel"
                [tickInterval]="step"
                [min]="min"
                [max]="max"
                [(value)] = "value"
                (input) = "onInputChange($event)"></mat-slider>
                {{graphRangeApprox}} | {{graphRangeAcc}}          
              </div>
            </div>

                
                
        </div>    
        