<mat-card>
    <mat-card-title>
    {{name}}
    </mat-card-title>
    <mat-card-subtitle>
        {{abbreviation}}
    </mat-card-subtitle>
    <mat-card-content>
        <div class="chart-container">
            <canvas id="linechart"></canvas>
        </div>        
        
        <div> 
            <mat-form-field appearance="outline">
                <mat-label>Slider Tick Options</mat-label>
                <mat-select [(value)]="selected" (selectionChange)="sliderConfigure($event)">
                  <mat-option value="1">100 Ticks</mat-option>
                  <mat-option value="2">200 Ticks</mat-option>
                  <mat-option value="3">300 Ticks</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Scale Type</mat-label>
                <mat-select [(value)]="selected" (selectionChange)="sliderConfigure($event)">
                  <mat-option value="1">Linear</mat-option>
                  <mat-option value="2">Logarithmic</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Scale Type</mat-label>
                <mat-select [(value)]="selected" (selectionChange)="sliderConfigure($event)">
                  <mat-option value="1">Linear</mat-option>
                  <mat-option value="2">Logarithmic</mat-option>
                </mat-select>
              </mat-form-field>

        </div>

        <div class="buttons">
            <mat-slider #chartSlider
                thumbLabel
                [displayWith]="formatLabel"
                [tickInterval]="step"
                [min]="min"
                [max]="max"
                [(value)] = "value"
                (input) = "onInputChange($event)"></mat-slider>
            </div>


        <div *ngIf = "type=='provider'">
            <hr> 
            <h1> Actions </h1>
            <div class = "buttons"> 
               <button class="name" mat-stroked-button>Update Stock Name</button> 
                <button class="price" mat-stroked-button>Add New Stock Price</button> 
                <button class="delete" mat-stroked-button>Delete This Stock</button>  
            </div>
            
        </div>
        <div *ngIf = "type=='client'">
            <hr> 
            <h1> Actions </h1>
            <div class = "buttons"> 
               <button class="subUnsub" mat-stroked-button>Subscribe</button>
            </div>
        </div>

    </mat-card-content>
</mat-card>


<!--
(chartHover)="chartHovered($event)"
(chartClick)="chartClicked($event)"
-->
