<h2 mat-dialog-title>
      {{pageTitle}}
      <button class="close" mat-button (click)="closeRegistration()">X</button>
    </h2>
    <mat-dialog-content>
      <form (ngSubmit) = "save()" 
            [formGroup] = "RegisterForm">
            <mat-horizontal-stepper formArrayName="RegistrarDetails">
                <mat-step formGroupName="0"  label = "Step 1" >
                  <mat-form-field appearance="outline">
                    <mat-label for="emailID">Email</mat-label>
                    <input matInput required
                      id="emailID"
                      type="text"
                      placeholder="example@example.com"
                      formControlName="email"
                      [ngClass] = "{'is-invalid': emailMessage}"> 
                      <mat-hint class = "error">{{emailMessage}}</mat-hint>        
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                      <mat-label for="usernameID">Username</mat-label>
                      <input matInput required
                        id="usernameID"
                        type="text"
                        placeholder="example"
                        formControlName="username"
                        [ngClass] = "{'is-invalid': usernameMessage}"> 
                        <mat-hint class = "error">{{usernameMessage}}</mat-hint>        
                      </mat-form-field>
                      <mat-form-field appearance="outline">
                        <mat-label for="passwordID">Password</mat-label>
                        <input matInput required
                          id="passwordID"
                          type="password"
                          placeholder="password"
                          formControlName="password"
                          [ngClass] = "{'is-invalid': passwordMessage}"> 
                          <mat-hint class = "error">{{passwordMessage}}</mat-hint>        
                        </mat-form-field>
                  <div>
                    <button mat-stroked-button matStepperNext type="button">Next</button>
                  </div>

                </mat-step>
                <mat-step formGroupName="1"   label = "Step 2" >
                  <mat-form-field appearance="outline">
                    <mat-label for="firstNameID">First Name</mat-label>
                    <input matInput required
                      id="firstNameID"
                      type="text"
                      placeholder="John"
                      formControlName="firstName"
                      [ngClass] = "{'is-invalid': firstNameMessage}"> 
                      <mat-hint class = "error">{{firstNameMessage}}</mat-hint>        
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                      <mat-label for="lastNameID">Last Name</mat-label>
                      <input matInput required
                        id="lastNameID"
                        type="text"
                        placeholder="Doe"
                        formControlName="lastName"
                        [ngClass] = "{'is-invalid': lastNameMessage}"> 
                        <mat-hint class = "error">{{lastNameMessage}}</mat-hint>        
                      </mat-form-field>
                      <mat-form-field appearance="outline">
                        <mat-label for="dateOfBirthID">Age (should be DOB)</mat-label>
                        <input matInput required
                          id="dateOfBirthID"
                          type="text"
                          placeholder="25"
                          formControlName="dateOfBirth"
                          [ngClass] = "{'is-invalid': dateOfBirthMessage}"> 
                          <mat-hint class = "error">{{dateOfBirthMessage}}</mat-hint>        
                        </mat-form-field>
              <div>
                <button mat-stroked-button matStepperPrevious type="button">Back</button>
                <button mat-stroked-button matStepperNext type="button">Next</button>
              </div>
                </mat-step>
                <mat-step formGroupName="2" label = "Step 3" >
                  <mat-form-field appearance="outline">
                    <mat-label for="accountTypeID">Account Type</mat-label>
                    <mat-select  required id="accountTypeID"
                                formControlName="accountType"
                                [ngClass] = "{'is-invalid': accountTypeMessage}">
                                <mat-option selected value = 0>Please choose</mat-option>
                                <mat-option value = "1">Client</mat-option>
                                <mat-option value = "2">Provider</mat-option>
                    </mat-select>
                    <mat-hint class = "error">{{accountTypeMessage}}</mat-hint>  
                  </mat-form-field>
            <div *ngIf="RegistrarDetailsFunc.get([2]).get('accountType').value == 2">
              <mat-form-field appearance="outline">
                <mat-label for="companyNameID">Company Name</mat-label>
                <input matInput required
                  id="companyNameID"
                  type="text"
                  placeholder="Generic Company"
                  formControlName="companyName"
                  [ngClass] = "{'is-invalid': companyNameMessage}"> 
                  <mat-hint class = "error">{{companyNameMessage}}</mat-hint>        
                </mat-form-field>
              </div>
            <div>
                <button mat-stroked-button matStepperPrevious type="button">Back</button>
                <button mat-stroked-button matStepperNext type="button">Next</button>
              </div>
            </mat-step>
            <mat-step formGroupName="3"  label = "Step 4" >
                <mat-checkbox formControlName="allValid" id="allvalidID" required>I hereby declare that all information given is valid to the best of my ability.</mat-checkbox>
                <mat-checkbox formControlName="readTerms" id="readTermsID" required>I have read and agree to the terms of service.</mat-checkbox>
        <div>
            <button mat-stroked-button matStepperPrevious type="button">Back</button>
            <button mat-flat-button 
                    color="primary"
                    type="submit"
                    [disabled]="!RegisterForm.valid">
                Register
                </button>
        </div>
        </mat-step>
    </mat-horizontal-stepper>
      </form>
      <div>
          I already have an account. <a class="link" title="Log into an existing account" (click)="closeRegistration()" (click)="openLogin()">Log in.</a>
      </div>
    </mat-dialog-content>
  