<article class = "home-content-section">
    <div class="container">
        <!--First Row-->
        <div class="row">
            <div class="left-col">
                <h3>How We Made It</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                
            </div>
            <div class = "right-col">
                <img src="assets/svgs/novus Construction.svg" class="home-container-img" alt="Illustration of making the website.">
            </div>
        </div>
        <hr>
        <!--Second Row-->
        <div class="row-reversed">
            <div class="left-col">
                <h3>Meet The Team</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
               
            </div>
            <div class = "right-col">
                 <img src="assets/svgs/Novus Team.svg" class="home-container-img" alt="Illustration of team members."> 
            </div>
        </div>
        <hr>
        <!--Third Row-->
        <div class="row">
            <div class="left-col">
                <h3>Latest Updates</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class = "right-col">
                <img src="assets/svgs/Novus Changelog.svg" class="home-container-img" alt="Illustration of roadmap of changes.">
            </div>
        </div>
        <hr>
        <!--Fourth Row-->
        <div class="row-reversed">
            <div class="left-col">
                <h3>View The Marketplace</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class = "right-col">
                <img src="assets/svgs/Novus Stock Exchange.svg" class="home-container-img" alt="Illustration of the new york stock exchange."> 
            </div>
        </div>
    </div>
</article>