<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div *ngIf='stockShown[1]'>
    <mat-card>
    <mat-card-title>
    {{companyInfo.name}}
    </mat-card-title>
    <mat-card-subtitle>
        {{companyInfo.abbr}}
    </mat-card-subtitle>
    <mat-card-content>
    <app-stock-chart [stockId] = 'stockShown[0]' [type] = "type"></app-stock-chart>
    <hr> 
            <h1> Actions </h1>
            <div class = "buttons"> 
               <button class="name" mat-stroked-button (click) = "openUpdateStockNameDialog(companyInfo.id,companyInfo.name,companyInfo.abbr)">Update Stock Name</button> 
                <button class="price" mat-stroked-button (click) = "openAddStockDialog(companyInfo.id,companyInfo.stockPrice)">Add New Stock Price</button> 
                <button class="delete" mat-stroked-button (click)="openDeleteStockDialog(companyInfo.id,companyInfo.name,companyInfo.abbr)">Delete This Stock</button>  
            </div>
    </mat-card-content>
    </mat-card>
</div>

<mat-card>
    <mat-card-title>
        {{pageTitle}}
    </mat-card-title>
    <mat-card-content>
        <!-- Filtering element-->
        <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Generic Co." #input>
        </mat-form-field>     

        <div class="mat-elevation-z2">
            <table mat-table [dataSource]="dataSource" matSort>
            
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                    <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                    <td mat-footer-cell *matFooterCellDef> 
                      </td>
                </ng-container>

                <ng-container matColumnDef="abbr">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Ticker Symbol  </th>
                    <td mat-cell *matCellDef="let row"> {{row.abbr}} </td>
                    <td mat-footer-cell *matFooterCellDef>
                        <button mat-stroked-button (click)="openCreateStockDialog()">New Stock</button> 
                    </td>
                </ng-container>

                <ng-container matColumnDef="stockPrice">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Current Price  </th>
                        <td mat-cell *matCellDef="let row"> 
                            <div *ngIf="row.stockPrice != 'N/A'">
                                ${{row.stockPrice}}
                            </div> 
                            <div *ngIf="row.stockPrice === 'N/A'">
                                {{row.stockPrice}}
                            </div> 
                        </td>
                        <td mat-footer-cell *matFooterCellDef>  </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row [@moveUp]="(stockShown[0] === row.id && stockShown[1] === true)? 'active':'*' " *matRowDef="let row; columns: displayedColumns;"
                    class="example-element-row"
                    (click)="showHistory(row.id)"
                    (click)="getCompanyFromCompanyData(row.id)"></tr>
                <tr mat-footer-row *matFooterRowDef="displayedColumns;"></tr>

                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr>
                

            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>

    </mat-card-content>
</mat-card>


        <!--
            <div class="row">
            <div class="col-md-2">
                Filter by:
            </div>
            <div class="col-md-2">

            </div>
            <div class="col-md-4">
                <input type="text"
                [(ngModel)] = 'listFilter'/>
            </div>
        </div>
        <div class = "table-responsive">
            <table class='table table-striped border mt-1'
                *ngIf = "companies && companies.length">
                <thead>
                    <tr>
                      <th class='headerClass' *ngFor="let header of tableHeaders" scope="col" [appSort] = "filteredCompanies" attr.data-order="{{header[1]}}" attr.data-name="{{header[2]}}" (click)="sortColumn(header)">
                        <table>
                          <tr>
                            <td>{{header[0]}}</td>
                            <td>
                              <i></i>
                              <i class="fa fa-sort" *ngIf="sortedColumn !== header[0] && header[1] !== '0'"></i>
                              <i class="fa fa-sort-up" *ngIf="header[1] === 'asc' && sortedColumn === header[0]"></i>
                              <i class="fa fa-sort-down" *ngIf="header[1] === 'desc' && sortedColumn === header[0]"></i>
                            </td>
                          </tr>
    
                        </table>
                      </th>
                    </tr>
                  </thead>
                <tbody>
                    <tr *ngFor="let company of filteredCompanies; let index = index">
                        <td>{{company.name}}</td>
                        <td>{{company.abbreviation}}</td>
                        <td>{{company.price}}</td>
                        <td><button type ="button" class="btn btn-primary" [routerLink] = "['/stockmaker/editstock/', company.id]">{{statusString[1]}}</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <button type ="button" class="btn btn-primary"  [routerLink] = "['/stockmaker/editstock/',0]">{{statusString[0]}}</button>
        </div>
    </div>
</div>