<mat-card>
    <mat-card-title>
    {{pageTitle}}
    </mat-card-title>
    <mat-card-content>
        <div *ngIf="formGenerated">
        <form 
                *ngIf="!isZero"
                (ngSubmit) = "save()" 
                [formGroup] = "ModifyStockForm">
    <mat-form-field appearance="outline">
        <mat-label for="companyNameID">Company Name</mat-label>
        <input matInput required
            id="companyNameID"
            type="text"
            placeholder="CompanyName"
            formControlName="companyName"
            [ngClass] = "{'is-invalid': companyNameMessage}"> 
        <mat-hint class = "error">{{companyNameMessage}}</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label for="companyShorthandID">Company Shorthand</mat-label>
        <input matInput 
            id="companyShorthandID"
            type="text"
            placeholder="CompanyShorthand"
            formControlName="companyShorthand"
            [ngClass] = "{'is-invalid': companyShorthandMessage}"> 
        <mat-hint class = "error">{{companyShorthandMessage}}</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label for="stockPriceID">Stock Price</mat-label>
        <input matInput 
            id="stockPriceID"
            type="text"
            placeholder="CompanyStock"
            formControlName="stockPrice"
            [ngClass] = "{'is-invalid': stockPriceMessage}"> 
        <mat-hint class = "error">{{stockPriceMessage}}</mat-hint>
        
    </mat-form-field> 
    <div>
        <div>% Change</div>
        <div><pm-percent [potentialStockPrice] = 'CompanyStock' [currentStockPrice] = 'company.price'></pm-percent></div> 
    </div>
        <div>
            <button mat-flat-button 
                    color="primary"
                    [routerLink] = "['/stockmaker']">
                    Cancel</button>
            <button mat-flat-button 
                    color="primary"
                    type="submit"
                    [disabled]="!ModifyStockForm.valid">
                    Save Changes</button>
            <button mat-flat-button 
                    color="primary"
                    (click) = 'onDelete()'>
                    Delete stock</button>
          </div>
    </form>
    <form 
                *ngIf="isZero"
                (ngSubmit) = "save()" 
                [formGroup] = "ModifyStockForm">
    <mat-form-field appearance="outline">
        <mat-label for="companyNameID">Company Name</mat-label>
        <input matInput required
            id="companyNameID"
            type="text"
            placeholder="CompanyName"
            formControlName="companyName"
            [ngClass] = "{'is-invalid': companyNameMessage}"> 
        <mat-hint class = "error">{{companyNameMessage}}</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label for="companyShorthandID">Company Shorthand</mat-label>
        <input matInput 
            id="companyShorthandID"
            type="text"
            placeholder="CompanyShorthand"
            formControlName="companyShorthand"
            [ngClass] = "{'is-invalid': companyShorthandMessage}"> 
        <mat-hint class = "error">{{companyShorthandMessage}}</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label for="stockPriceID">Stock Price</mat-label>
        <input matInput 
            id="stockPriceID"
            type="text"
            placeholder="CompanyStock"
            formControlName="stockPrice"
            [ngClass] = "{'is-invalid': stockPriceMessage}"> 
        <mat-hint class = "error">{{stockPriceMessage}}</mat-hint>
    </mat-form-field> 
        <div>
            <button mat-flat-button 
                    color="primary"
                    [routerLink] = "['/stockmaker']">
                    Cancel</button>
            <button mat-flat-button 
                    color="primary"
                    type="submit"
                    [disabled]="!ModifyStockForm.valid">
                    Create Stock</button>
          </div>
    </form>


        </div>
           
    </mat-card-content>

</mat-card>
<!--
<div *ngIf = '!isZero' class="form-group">
            <div class = "col-md-4">
            <div>
                <div>Company Name</div>
                <div ><input type="text" class="form-control" [placeholder]="company.name" [(ngModel)] = "companyName"  aria-label="company name"></div> 
            </div>
            <br/>
            <div>
                <div>Company Shorthand</div>
                <div><strong>{{company.abbreviation}}</strong></div> 
            </div>
            <br/>
            <div>
                <div> Stock Price</div>
                <div><input type="text" class="form-control" [placeholder]="company.price" [(ngModel)] = "companyStock" aria-label="stock price"></div> 
            </div>
            <br/>
            <div>
                <div>% Change</div>
                <div><pm-percent [potentialStockPrice] = 'companyStock' [currentStockPrice] = 'company.price'></pm-percent></div> 
            </div>
            </div>
                <br/>
                <button type="button" class="btn btn-primary" [routerLink] = "['/stockmaker']" >Back</button>
                <button type="submit" class="btn btn-primary" (click) = 'onSave()'>Save Changes</button>
                <button type="button" class="btn btn-primary" (click) = 'onDelete()'>Delete Stock</button>
            
        </div>
        <div *ngIf = 'isZero' class="form-group">
            <div class = "col-md-8">
            <div>
                <div>Company Name</div>
                <div ><input type="text" class="form-control" placeholder='Generic Company' [(ngModel)] = "companyName"  aria-label="company name"></div> 
            </div>
            <br/>
            <div>
                <div>Company Shorthand2</div>
                <div><input type="text" class="form-control" placeholder="GNCP" [(ngModel)] = "companyShortHand"  aria-label="company shorthand"></div> 
            </div>
            <br/>
            <div>
                <div> Initial Stock Price</div>
                <div><input type="text" class="form-control" placeholder="$1000" [(ngModel)] = "companyStock" aria-label="First name"></div> 
            </div>
            <br/>
            </div>
                <br/>
                <button type="button" class="btn btn-primary" [routerLink] = "['/stockmaker']">Cancel</button>
                <button type="submit" class="btn btn-primary" (click) = 'onSave()'>Create Stock</button>
        </div>
        
    </div>
</div>

-->
        