<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/logo.jpg"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>
      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h4>Adrian Kaczmarczyk, Alexander Robinson, Arun George, Dan Greenhalgh, Jack Barlow, Joe Waddington, Sinkoloi Mutambo and
          Spencer Felton </h4>
      </div>
    </div>
  </div>
</div>
