/*
h1{
    text-align: center;
    vertical-align: middle;
    font-size: 300%;
    height: 100%;
}
*/
#splash{
    height: 40%;
    text-align: center;
    vertical-align: middle;
}


section#intro {
    display: flex;
    align-items: center;
    position: relative;
    width: 900px;
    height: 480px;
    margin: 0 auto -32px;
    padding: 48px 0 0;
    color: rgb(19, 3, 3);
}

section#intro .LogoN{
    display:flex;
}

section#intro .homepage-container {
    width: 100%;
    max-width: 1040px;
    margin: 7% auto 0;
    padding-top: 0;
    padding-bottom: 0;
}

section#intro .headline {
    font-size: 40px;
    font-size: 4rem;
    line-height: 64px;
    line-height: 6.4rem;
    font-weight: 500;
    margin: 32px 0;
}
section#intro .LogoN img{
    width: 300px;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    min-height: 480px;
    height: 100vh;
    max-height: 560px;
    box-sizing: border-box;
    padding: 48px 48px 32px;
    overflow: hidden;
    transform: translate(0px, -100px)  skewY(-4deg);
    transform-origin: 100%;
}

.hero2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    min-height: 400px;
    height: 1vh;
    max-height: 560px;
    box-sizing: border-box;
    padding: 48px 48px 32px;
    overflow: hidden;
    transform: translate(0px, 300px) skewY(7deg);
    transform-origin: 100%;
}

.hero3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    min-height:200px;
    height: 1vh;
    max-height: 560px;
    box-sizing: border-box;
    padding: 48px 48px 32px;
    overflow: hidden;
    transform: translate(0px, 200px) skewY(-8deg);
    transform-origin: 100%;
}


.background-sky {
    background-color: #FFC107;
    background: linear-gradient(180deg,#FFC107,#ffce3d);
    color: #fff;
}

.background-sky2 {
    background-color: #FFC107;
    background: linear-gradient(178deg,#ffd556,#ffdf80);
    color: #fff;
}

.background-sky3 {
    background-color: #FFC107;
    background: linear-gradient(182deg,#ffe597,#ffefc0);
    color: #fff;
}


.connector{
    background-color: #FFC107;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    min-height: 200px;
    height: 10vh;
    max-height: 560px;
    box-sizing: border-box;
    padding: 48px 48px 32px;
    overflow: hidden;
    transform-origin: 100%;
}
@media (max-width: 480px){
   div[layout=row] {
    display: block;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
} 
.home-row .promo-img-container:nth-child(2n), .home-row .text-container:nth-child(2n) {
    flex-direction: column-reverse;
}
.home-row .promo-img-container, .home-row .text-container {
    max-width: 100%;
    text-align: center;
}
}


.home-rows{
    margin: 0;
    overflow: hidden;
}

.home-row {
    max-width: 920px;
    margin: 32px auto;
}

article{
    display: block;
}

#block{
    height:50px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

