
<navbar></navbar>
<body>
  <hero></hero>
  <home-content></home-content>
  <footer></footer>
</body>

<!--
  <header>
  <div class="background-sky3 hero3"></div>
    <div class="background-sky2 hero2"></div>
    <div class="connector"></div>
    <div class="background-sky hero"></div>

  
  

  <section id="intro">
    <div class = "LogoN">
      <img src="assets/Novus Stock Tracker Logos/novus N Blue.svg">
    </div>
    <div class = "homepage-container">
      <div class = "headline">
        A Different Breed of
        <br>
         Tracking Application
      </div>
    </div>
  </section>

  <div id="block"></div>
  <article>
    <h1 class="no-anchor no-toc" style="display: none" id=""></h1>
    <div class="home-rows">
      <div layout="row" layout-xs="column" class="home-row homepage-container">
        <div class="promo-img-container promo-1">
          <div>
            <img height="222" width="340" src="assets/Novus Stock Tracker Logos/Changelog symbol.svg" alt="responsive framework">
          </div>
        </div>
        <div class="text-container">
          <div class="text-block promo-1-desc l-pad-top-2">
            <div class="text-headline">Develop Across All Platforms</div>
            <p class="text-body">Learn one way to build applications with Angular and reuse your code and abilities to build apps for any deployment target. For web, mobile web, native mobile and native desktop.
            </p>
          </div>
        </div>
      </div>
    </div>
    <hr>
    
    <h1 class="no-anchor no-toc" style="display: none" id=""></h1>
    <div class="home-rows">
      <div layout="row" layout-xs="column" class="home-row homepage-container">
        <div class="promo-img-container promo-1">
          <div>
            <img height="222" width="340" src="assets/Novus Stock Tracker Logos/team symbol.svg" alt="responsive framework">
          </div>
        </div>
        <div class="text-container">
          <div class="text-block promo-1-desc l-pad-top-2">
            <div class="text-headline">Develop Across All Platforms</div>
            <p class="text-body">Learn one way to build applications with Angular and reuse your code and abilities to build apps for any deployment target. For web, mobile web, native mobile and native desktop.
            </p>
          </div>
        </div>
      </div>
    </div>
    <hr>
    
    <h1 class="no-anchor no-toc" style="display: none" id=""></h1>
    <div class="home-rows">
      <div layout="row" layout-xs="column" class="home-row homepage-container">
        <div class="promo-img-container promo-1">
          <div>
            <img height="222" width="340" src="assets/Novus Stock Tracker Logos/computer symbol.svg" alt="responsive framework">
          </div>
        </div>
        <div class="text-container">
          <div class="text-block promo-1-desc l-pad-top-2">
            <div class="text-headline">Develop Across All Platforms</div>
            <p class="text-body">Learn one way to build applications with Angular and reuse your code and abilities to build apps for any deployment target. For web, mobile web, native mobile and native desktop.
            </p>
          </div>
        </div>
      </div>
    </div>
    <hr>

  </article>
  
<div id = "splash">

</div>

</header>

-->



<!--
<mat-card>
  <mat-card-header>
    {{pageTitle}}
  </mat-card-header>
  <mat-card-content>
    <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h4>Adrian Kaczmarczyk, Alexander Robinson, Arun George, Dan Greenhalgh, Jack Barlow, Joe Waddington, Sinkoloi Mutambo and
          Spencer Felton </h4>
        </div>
  </mat-card-content>
</mat-card>

-->
