<!--The content below is only a placeholder and can be replaced.
<nav class="navbar navbar-light navbar-expand-sm bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      FutureProof
    </a>
    <ul class='nav nav-pills'>
      <li><a class ='nav-link' [routerLink] = "['/welcome']">Home</a></li>
      <li><a class = 'nav-link' [routerLink] = "['/login']">Login</a> </li>
      <li><a class = 'nav-link' [routerLink] = "['/register']">Registration</a> </li>
      <li><a class ='nav-link' [routerLink] = "['/stockmaker']">View Provider Stocks</a></li>   
      <li><a class ='nav-link' [routerLink] = "['/viewstock']">View Current Stocks</a></li>
      <li><a class ='nav-link' [routerLink] = "['/subscriptions']">View Subscribed Stocks</a></li>
      <li><a class = 'nav-link' [routerLink] = "['/testing']">testing</a></li>
    </ul>
  </div>
</nav>
<div class='container'>
  <router-outlet></router-outlet>
</div>


<mat-card> Hello
</mat-card>

<mat-checkbox> Subscribe to me!</mat-checkbox>
//-->

<mat-toolbar class="mat-elevation-z4">
  <button mat-button >Not Stocks</button>
  <span class="spacer"></span>
  <button mat-button  (click) = "sidenav.close()" [routerLink] = "['/welcome']" >Home</button>
  <button mat-button (click) = "sidenav.open()" [routerLink] = "['/viewstock']">Dashboard</button>
  <button mat-button (click) = "openLogin()">Login</button>
<router-outlet></router-outlet>
</mat-toolbar>

<mat-sidenav-container >
<mat-sidenav #sidenav mode="side" class="mat-elevation-z4">
  <button mat-button [routerLink] = "['/viewstock']">View All Stocks</button>
  <button mat-button [routerLink] = "['/subscriptions']">View Subscribed Stocks</button>
  <button mat-button [routerLink] = "['/stockmaker']">View Provider Stocks</button>
</mat-sidenav>
<router-outlet></router-outlet>
</mat-sidenav-container>




