.nav-link {
  font-size: large;
}

.error.mat-snack-bar-container{
  background: red;
  color: white;
}

.spacer{
  flex: 1 1 auto;
}


mat-sidenav-container {
  height: 100%
}

mat-sidenav, mat-sidenav-content {
  padding: 16px;
}

mat-sidenav{
  background-color: rgb(233, 233, 233);
  width: 200px;
}