input{
    text-align: center;
}
thead {
    color: #337AB7
}

table {
    width: 100%;
  }

.buttons{
    text-align: center;
}
#actions{
text-align: center;
}
button{
    margin:10px;
}

.mat-row:hover {
    background-color: rgb(204, 204, 204);
  }
  