<mat-card *ngIf="auth.user$ | async as user">
<mat-card-title>
    My Account
</mat-card-title>
<mat-card-subtitle>
{{username | titlecase}} | {{user.email}} 
</mat-card-subtitle>
<hr>
<mat-card-content>
            <h1 id = 'title'>Personal Information</h1>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z0">

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
              
                <!-- Position Column -->
                <ng-container matColumnDef="parameter">
                  <th mat-header-cell *matHeaderCellDef> Parameters </th>
                  <td mat-cell *matCellDef="let element"> {{element.AccountParameter}} </td>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="userData">
                  <th mat-header-cell *matHeaderCellDef>Data</th>
                  <td mat-cell *matCellDef="let element"> {{element.AssociatedData | titlecase}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>

              <br>
              <h3>Additonal Account Options</h3>
              <button mat-stroked-button (click) = openChangePasswordDialog(userId,email)>Change Password</button>
              <!--
                  <button mat-stroked-button (click) = openDeleteAccountDialog(userId)>Delete Account</button>
              -->
</mat-card-content>
</mat-card>

